.Icon {
    position: fixed; /* Fixes the position of the header */
    top: 0; /* Positions the header at the top */
    left: 0; /* Aligns the header to the left */
    width: 100%; /* Makes the header span the full width of the viewport */
    background-color: skyblue; /* Ensure the background is set */
    z-index: 1000; /* Keeps the header above other content */
}

.header {
    width: auto; /* Make sure header spans full width */
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: skyblue; /* Background color of header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for visibility */
}

.search-bar {
    padding: 5px;
    font-size: 16px;
    align-self: center;
    width: auto;
    border: 1px solid white;
    border-radius: 4px;
}

.auth-cart {
    display: flex;
    gap: 10px;
}

.login-dropdown-container {
    position: relative;
}

.icon {
    margin-left: 8px; /* Space between text and icon */
    font-size: 20px; /* Size of the icons */
    vertical-align: middle; /* Align icon vertically with text */
}

.login-button, .cart-button {
    display: flex;
    align-items: center; /* Center align text and icon */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4D4D4D;
    color: whitesmoke;
}

.cart-button {
    background-color: #6F7033;
    color: white;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
}

.login-dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px 20px;
    background-color: white;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.App-logo {
    width: 50px;
    height: 20px;
    margin-top: 10px;
}